<br/>
<div class="row">
  <!-- Alcaldias -->
  <a href="#/gov/1" class="col-lg-4 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
	<div class="row">
	  <div class="col-xs-9">
	    <i class="fa fa-bank fa-5x"></i>
	    <h2 class="huge inline"> Hatillo</h2>
	  </div>
	  <div class="col-xs-3 text-right">
	    <div class="huge">42</div>
	    <div>New Tweets!</div>
	  </div>
	</div>
      </div>
      <div class="panel-footer">
	<span class="pull-left color-green">View Details</span>
	<span class="pull-right color-green"><i class="fa fa-arrow-circle-right"></i></span>
	<div class="clearfix"></div>
      </div>
    </div>
  </a>  

  <!-- Alcaldia -->
  <a href="#/gov/2" class="col-lg-4 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
	<div class="row">
	  <div class="col-xs-9">
	    <i class="fa fa-bank fa-5x"></i>
	    <h2 class="huge inline"> Sucre</h2>
	  </div>
	  <div class="col-xs-3 text-right">
	    <div class="huge">70</div>
	    <div>New Tweets!</div>
	  </div>
	</div>
      </div>
      <div class="panel-footer">
	<span class="pull-left color-yellow">View Details</span>
	<span class="pull-right color-yellow"><i class="fa fa-arrow-circle-right"></i></span>
	<div class="clearfix"></div>
      </div>
    </div>
  </a>  

  <!-- Libertador -->
  <a href="#/gov/1" class="col-lg-4 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
	<div class="row">
	  <div class="col-xs-9">
	    <i class="fa fa-bank fa-5x"></i>
	    <h2 class="huge inline"> Libertador </h2>
	  </div>
	  <div class="col-xs-3 text-right">
	    <div class="huge">88</div>
	    <div>New Tweets!</div>
	  </div>
	</div>
      </div>
      <div class="panel-footer">
	<span class="pull-left color-red">View Details</span>
	<span class="pull-right color-red"><i class="fa fa-arrow-circle-right"></i></span>
	<div class="clearfix"></div>
      </div>
    </div>
  </a>  

</div>
